#videoContainer{
  width:100%;
  position: relative;
  video{
    width: 100%;
  }
  .videoControls{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.showing{
      opacity: 1;
    }
    align-items: center;
    position: absolute;
    display: grid;
    bottom:10px;
    background-color: #0f1117;
    justify-content: space-between;
    grid-template-columns: 1fr 4fr 1fr auto;
    right:0;
    left: 0;
    width: 95%;
    margin:0 auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    .videoControls__play{
      display: flex;
      .videoControls__playBtn{
        margin-left:10px;
        margin-right:20px;
      }
      .videoControls__time{
        font-size: auto;
      }
      
    }
    .videoControls__volume {
      display: flex;
      align-items: center;
      span {
        margin-left: 20px;
        i {
          font-size: 20px;
        }
      }
  }
}
}