extends base.pug

block content 
    if erroMessage
        span=erroMessage
    form(method="post")
        input(type="text" placeholder="username" name="username" required)
        input(type="password1" placeholder="password" name="password" required)
        input(type="submit" value="Login")
    hr
    div     
        span Don't have an account? 
        a(href="/join") Create one now &rarr;