extends ../base

block content
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="old password", tyep="password" ,name="oldPassword")
        input(placeholder="New password", tyep="password", name="newPassword")
        input(placeholder="old password Confirmation", tyep="password",name="newPasswordConfirmation")
        input(type = "submit" value="Change Password")
